@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';
.AddButton {
    @include blockCenter($width: 35px, $height: 35px);
    background: linear-gradient(180deg, $purpleColor 0%, $blueColor 100%);
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
    .AddButton__insideBlack {
        @include blockCenter($width: 31px, $height: 31px);
        background: white;
        color: $purpleColor;
        border-radius: 10px;
    }
    &:hover {
        .AddButton__insideBlack{
            background: linear-gradient(180deg, $purpleColor 0%, $blueColor 100%);
            color: white;
            transition: all 0.5s;
        }
    }
}