@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';


.InputStandart__wrapper {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.InputStandart__bottom {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
}

.InputStandart:focus-within > .InputStandart__bottom {
    width: 0;
    transition: all 0.5s;
    
}

.InputStandart {
    @include blockCenter($alignHorizontal: center, $alignVertical: center, $height: 40px, $width: 250px);
    background: linear-gradient(180deg, $purpleColor 0%, $blueColor 100%);
    border-radius: 25px;
}

.InputStandart__inside {
    @include blockCenter($alignHorizontal: center, $alignVertical: center, $height: 36px, $width: 246px);
    background: white;
    border-radius: 25px;
}

.InputStandart__inside__label--blur {
    position: absolute;
    cursor: pointer;
    font-size: 18px;
    color:  rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
    z-index: 2;
}

.InputStandart__inside__label--focus {
    transform: translate(-40px, -20px);
    width: auto;
    font-size: 14px;
    color: $blueColor;
    background: white;
    transition: all 0.5s;
}

.InputStandart__inside__hidden {
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 100%;
    background: white;
    transition: all 0.5s;
}

.InputStandart__inside:focus-within > .InputStandart__inside__hidden {
    transform: translate(0, -45px);
    transition: all 0.5s;
}

.InputStandart__inside > input {
    width: 80%;
    height: 90%;
    font-size: 16px;
    z-index: 1;
    border: none;
}

.InputStandart__inside > input:focus {
    outline: none;
}

.InputStandart__errorMessage {
    position: absolute;
    color: $redColor;
    font-size: 12px;
    bottom: -2px;
    display: none;
}

.error {
    .InputStandart {background: $redColor;}
    .InputStandart__inside__label--focus {color: $redColorDark;}
    .InputStandart__bottom {background: $redColor;}
    .InputStandart__errorMessage {display: block;}
    input {color: $redColor;}
}

.small {
    height: 50px;
    width: 200px;
    .InputStandart {height: 30px; width: 200px;}
    .InputStandart__inside {height: 26px; width: 196px;}
    .InputStandart__bottom {bottom: 9px;}
    .InputStandart__inside__label--blur {font-size: 15px;}
    .InputStandart__inside__label--focus {
        transform: translate(-15px, -15px);
        font-size: 12px;
    }
    .InputStandart__errorMessage { font-size: 11px;}
    .InputStandart__inside > input {font-size: 14px;}
}
