@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';
.SquareButton {
    @include blockCenter($width: 30px, $height: 30px);
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    .SquareButton__insideBlack {
        @include blockCenter($width: 26px, $height: 26px);
        background: white;
        border-radius: 5px;
    }
    &:hover {
        .SquareButton__insideBlack{ color: white; transition: all 0.5s; }
    }
}

.edit, .cancel {
    background: linear-gradient(180deg, $purpleColor 0%, $blueColor 100%);
    & > .SquareButton__insideBlack { color: $purpleColor; }
    &:hover {
        .SquareButton__insideBlack {
            background: linear-gradient(180deg, $purpleColor 0%, $blueColor 100%);
        }
    }
}

.delete {
    background: linear-gradient(180deg, $redColor 0%, $redColorDark 100%);
    & > .SquareButton__insideBlack { color: $redColor; }
    &:hover {
        .SquareButton__insideBlack {
            background: linear-gradient(180deg, $redColor 0%, $redColorDark 100%);
        }
    }
}

.add, .save {
    background: linear-gradient(180deg, $greenColor 0%, $lightGreenColor 100%);
    & > .SquareButton__insideBlack { color: $greenColor; }
    &:hover {
        .SquareButton__insideBlack {
            background: linear-gradient(180deg, $greenColor 0%, $lightGreenColor 100%);
        }
    }
}

.disabled {
    background: $greyColor;
    cursor: default;
    opacity: 0.5;
    & > .SquareButton__insideBlack { color: $greyColor; }
    &:hover > .SquareButton__insideBlack {
        background: white;
        color: $greyColor; 
    }   
}