@import '../../scss/mixins.scss';

.ProductImageCard {
    color: #BC9CFF;
    @include blockCenter($height: 400px, $width: 250px);
    position: relative;
    flex-direction: column;
    margin: 15px;
    .conteiner {
        @include blockCenter();
        border-radius: 25px;
        border: 2px solid #BC9CFF;
        &:hover {box-shadow: 0 0 30px 10px #BC9CFF}
    }
    .sliderWrapper {
        @include blockCenter($alignHorizontal: 'flex-start', $height: 80px);
        flex-direction: column;
    }

    .sliderConteiner {
        display: flex;
        align-items: center;
        i {
            cursor: pointer;
            &:hover {color: #8BA4F9;}
            &:first-child {margin-right: 10px;}
            &:last-child {margin-left: 10px;}
        }
    }
    .inputConteiner {
        @include blockCenter();
        position: relative;
        flex-direction: column;
        span {margin-top: 20px;text-align: center;}
    }
    input {
        @include blockCenter();
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 25px;
        opacity: 0;
    }

    .imageConteiner {
        width: 250px;
        height: 280px;
        border-radius: 25px;
        position: relative;
        overflow: hidden;
        .imageWrapper {
            position: absolute;
            cursor: pointer;
        }
    }
    .buttonConteiner {
        margin-top: 15px;
    }
}