@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';


.CategoryListSeting {
    @include blockCenter($alignHorizontal: flex-start);
    flex-direction: column;
    background: white;
    border-radius: 25px;
    border: 2px solid $blueColor;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;


    .CategoryListSeting__label {
        color: $blueColor;
        background: white;
        position: absolute;
        font-size: 22px;
        top: -15px;
        left: 70px;
    }
    .CategoryListSeting__addCategory__conteiner {
        @include blockCenter($height: 50px, $width: 100%);
        margin-top: 30px;
    }
    .CategoryListSeting__addCategory__conteiner__button {
        margin-left: 20px;
    }

    .CategoryListSeting__list {
        @include blockCenter($height: 83% );
        position: relative;
        border: 2px solid $purpleColor;
        border-radius: 25px;
        margin-top: 20px;
        overflow: auto;
    }
}