@import '../../scss/mixins.scss';


@include animationHidenTranslateY(1s, 0.5s, -100px, 20px, 0px);
.ProjectFileStructure {
    @include blockCenter($height: auto, $width: 95%);
    top: 10px;
    flex-direction: column;
    position: absolute;

    .ProjectFileStructure__subcategory {
        width: 95%;
        display: none;
        flex-direction: column;
        margin-left: 5%;
        .ProjectFileStructure__subcategory__button {margin-bottom: 5px; margin-top: 5px;}
    }
    
    .ProjectFileStructure__subcategory-drop {
        display: block;
    }
    
}