@import '../../scss/variables.scss';

.CategoryItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid white;
    cursor: pointer;
    font-weight: bold;
    color: $greyColor;
    transition: all 0.3s;
    .CategoryItem__name {
        display: flex;
        align-items: center;
        & > i {
            margin-left: 10px;
            margin-right: 10px;
            color: #ffb20d;
        }
    }

    .CategoryItem__name > span {
        height: 25px;
    }
    .CategoryItem__button {
        opacity: 0;
        display: flex;
        justify-content: space-between;
        width: 70px;
        transition: all 0.3s;
    }
    &:hover {
        color: $purpleColor;
        border: 2px solid $purpleColor;
        border-radius: 10px;
        transition: all 0.3s;
        .CategoryItem__button {
            opacity: 1;
            transition: all 0.3s;
        }
    }
}

.enter { 
    opacity: 0; 
    transform: translateY(100px); 
}
.enter-active { 
    opacity: 1; 
    transform: translateY(50px); 
    transition: all 1s; 
}
.enter-done {
    transform: translateY(50px); 
    transition: all 1s
}
.exit-active { 
    opacity: 0; 
    transform: translateY(100px);
    transition: all 1s;
}