
@mixin  pageStyle {
    width: 100%;
    height: 80vh;
    border-radius: 25px;
    background: white; 
}

@mixin blockCenter($alignHorizontal: center, $alignVertical: center, $height: 100%, $width: 100%) {
    display: flex;
    justify-content: $alignHorizontal;
    align-items: $alignVertical;
    width: $width;
    height: $height;
}

@mixin animationHiden ($enter, $exit) {
    .enter { opacity: 0; }
    .enter-active { opacity: 1; transition: opacity $enter; }
    .exit { opacity: 1; }
    .exit-active { opacity: 0; transition: opacity $exit; }
    .exit-done { opacity: 0; }
}

@mixin animationHidenTranslateY ($enter, $exit, $enterMove, $activeMove, $doneMove) {
    .enter { 
        opacity: 0; 
        transform: translateY($enterMove); 
    }
    .enter-active { 
        opacity: 1; 
        transform: translateY($activeMove); 
        transition: all $enter; 
    }
    .enter-done {
        transform: translateY($doneMove); 
        transition: all $exit
    }
    .exit-active { 
        opacity: 0; 
        transform: translateY($enterMove);
        transition: all $exit;
    }
}