$menuToggleColor: #ffffff;
$categoriesListWidth: 400px;
$categoriesListHeight: 600px;
$purpleColor: #BC9CFF;
$blueColor: #8BA4F9;
$redColor: #a71d31;
$redColorDark: #3f0d12;
$greyColor:  rgba(0, 0, 0, 0.6);